<nav id="menu-bar">

    <ul class="menu-list">

        <li class="menu-item">
            <button class="menu-btn" id="btn-archivo">
                <span class="menu-icon">
                    <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"
                            fill="#FFC107" />
                    </svg>
                </span>
                <span class="menu-text">Archivo</span>
            </button>
        </li>

        <li class="menu-item">
            <button class="menu-btn" id="btn-opciones">
                <!-- <span class="menu-icon">
                    <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19.14 12.94c.04-.3.06-.62.06-.94 0-.32-.02-.64-.06-.94l2.02-1.58c.18-.14.24-.4.14-.62l-1.9-3.72c-.1-.22-.34-.34-.58-.34l-2.48.42c-.52-.4-1.08-.78-1.66-1.08l-.38-2.58c-.06-.26-.28-.46-.56-.46h-3.8c-.28 0-.5.2-.56.46l-.38 2.58c-.58.3-1.14.68-1.66 1.08l-2.48-.42c-.24-.04-.48.12-.58.34L2.7 8.86c-.1.22-.04.48.14.62l2.02 1.58c-.04.3-.06.62-.06.94 0 .32.02.64.06.94l-2.02 1.58c-.18.14-.24.4-.14.62l1.9 3.72c.1.22.34.34.58.34l2.48-.42c.52.4 1.08.78 1.66 1.08l.38 2.58c.06.26.28.46.56.46h3.8c.28 0 .5-.2.56-.46l.38-2.58c.58-.3 1.14-.68 1.66-1.08l2.48.42c.24.04.48-.12.58-.34l1.9-3.72c.1-.22.04-.48-.14-.62l-2.02-1.58zm-7.14 2.66c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"
                            fill="#6C757D" />
                    </svg>
                </span> -->
                <span class="menu-text">Opciones</span>
            </button>
        </li>

        <li class="menu-item">
            <button class="menu-btn" id="btn-limpiar">
                <!-- <span class="menu-icon">
                    <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
                            fill="#DC3545" />
                    </svg>
                </span> -->
                <span class="menu-text">Limpiar</span>
            </button>
        </li>

        <li class="menu-item">
            <button class="menu-btn" id="btn-copiar">
                <!-- <span class="menu-icon">
                    <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"
                            fill="#4A90E2" />
                    </svg>
                </span> -->
                <span class="menu-text">Copiar</span>
            </button>
        </li>

        <li class="menu-item">
            <button class="menu-btn" id="btn-ping">
                <!-- <span class="menu-text">&#128190</span> -->
                <span class="menu-text">Ping</span>
            </button>
        </li>

    </ul>
</nav>